.FlatButton {
	padding: 18px 30px;
	outline: none;
	color: white;
	border: none;
	transition: background 0.2s;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Muli', sans-serif;
}

.FlatButton.black {
	background: #232323;
}

.FlatButton.black:hover {
	background: #434343;
}

.FlatButton.yellow {
	background: #b89955;
}

.FlatButton.yellow:hover {
	background: #ce9e37;
}
