.Option {
	background: white;
	height: 58px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 20px;
	position: relative;
	border: 1px solid #eee;
}

.OptionList {
	position: absolute;
	top: 47px;
	left: 0;
	z-index: 3;
	width: 100%;
	background: white;
	border: 1px solid #ddd;
}

.OptionHandle {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.OptionList ul {
	list-style: none;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

.OptionList ul li {
	padding: 5px 25px;
	text-align: left;
}

.OptionList ul li.active {
	background-color: #eee;
}

.OptionList ul li:hover {
	background: #ddd;
}

.OptionList.hide {
	visibility: hidden;
}

.OptionLabel .label {
	color: #666;
}

.OptionIconDropdown {
	position: absolute;
	right: 20px;
	top: 21px;
}