@media screen and (min-width: 900px) {
	.sidebarContainer {
		position: fixed;
		top: 0;
		left: 0;
	}
	.content {
		margin-left: 298px;
	}
}

.fixedMetaMenu {
	position: fixed;
	top: 0;
	z-index: 1;
}

.sidebar {
	text-align: center;
}

@-moz-document url-prefix() {
   	.leftSidebarContainer {
        overflow-x: hidden;
        width: 298px;
    }
}

.sidebarContainer {
	background-color: #1d1d1d;
}
